@media(max-width:1050px){
    html{
        font-size: 14px;
    }

    .content{
        padding: 1rem;
    }
}

@media(max-width:900px){

    .heading{
        padding-top: 2rem;
        padding-left: 1rem;
    }

    .services .desc{
        padding-left: 1rem;
    }

    .service{
        width: 75%;
        margin: 2rem auto;
    }


    .project{
        width: 75%;
        margin: 2rem auto;
    }

    .logo-form{
        width: 100%;
        margin-bottom: 2rem;
        padding: 1rem;
    }

    .footer-links{
        width: 100%;
        margin-bottom: 2rem;
        padding: 1rem;
    }

    .links{
       width: 100%;
       margin-bottom: 2rem;
    }

    .aboutme{
        width: 100%;
    }

}

@media(max-width:500px){

    
    html{
        font-size:12px;
    }

    .text{
        width: 81%;
    }

    .hero-heading{
        font-size: 3.125rem;
    }

    .social{
        width:10%;
    }
}
